body {
    background-color: #431111;
}

#navbar {
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    min-height: 100%;
}

#box {
    position: relative;
    top: 50px;
    background-color: rgba(40,40,40,0.3);
    border-radius: 10px;
}

#facebook:hover {
    color: #3B5998;
}

#twitter:hover {
    color: #4099FF;
}

#members {
    position: relative;
    left: 330px;
}

.breaker .name {
    color: #FFFFFF;
}

.breaker h3, .breaker p {
    color: #000000;
}