body {
    background-color: #431111;
}

#navbar {
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    min-height: 100%;
}

#box {
    position: relative;
    top: 50px;
    background-color: rgba(40,40,40,0.3);
    border-radius: 10px;
}

#facebook:hover {
    color: #3B5998;
}

#twitter:hover {
    color: #4099FF;
}

#info {
    position: relative;
    left: 330px;
}

p {
    margin: 0px;
    color: #FFFFFF;
}

h4 {
    margin: 0px;
    color: #000000;
}

#major {
    padding: 10px;
    width: 90%;
    /*width: 300px;
    height: 500px;*/
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    margin: auto;
}
#norm {
    padding: 10px;
    width: 90%;
    /*width: 300px;
    height: 300px;*/
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    margin: auto;
}

h2 {
    color: #371717;
}

#mat, #floor, #cypher, .event {
    border-bottom: 1px solid black; 
}